<div id="footer-bgcontent">
  <div id="footer">
      <p>Copyright (c) 2009 cherokie.net. All rights reserved. <br />
      Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div>
</div>