<div id="sidebar">
  <ul>
      <li>
          <h2>Sobre mi</h2>
          <p>Soy programador de p&aacute;ginas web y un friki. Me gustan las consolas (actualmente tengo una Xbox 360), los mangas y los anime.</p>
      </li>
      <li>
          <h2>Últimos tweets</h2>
          <ul id="latest_tweet"></ul>
          <div id="follow">
              <a href="http://www.twitter.com/cherokienet"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt=""/>
                  <span>Sígueme en Twitter</span>
              </a>
        </div>
      </li>
      <li>
          <h2>Webs amigas</h2>
          <ul>
              <li><a href="http://www.peugeot407coupe.com/">Peugeot 407 Coupe</a></li>
              <li><a href="http://xavierdomenech.blogspot.com/">Blog de Xavier Domenech</a></li>
              <li><a href="http://www.albertclemente.com/">Blog de Albert Clemente</a></li>
              <li><a href="http://receptesalajo.blogspot.com/">Receptes a la jo</a></li>
              <li><a href="http://aloon.com/">Blog de Aloon</a></li>
              <!--<li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Nec metus sed donec</a></li>-->
          </ul>
      </li>
  </ul>
  <ul>
    <script type="text/javascript"><!--
      google_ad_client = "pub-4521843135479709";
      /* 200x90, creado 18/11/09 */
      google_ad_slot = "1081851343";
      google_ad_width = 200;
      google_ad_height = 90;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </ul>
</div>
			